* { display: block; padding: 50px; }

span#my-div { background: white; }
div.a.b.c.d { }
.a { background: #ff-01ff; }
.b { background: #ffa500; }
.c { background: #ffff00; }
.d { background: #008000; }
.e { background: #0000ff; }
.f { background: #4b0082; }
.g { background: #800080; }
