* { display: block; padding: 50px; }

span#my-div { height: 40px; background: white; }
div.a.b.c.d { }
#test{ height: 22px; background: #9900FF; }
.a { height: 22px; background: #ff01ff; }
.b { background: #ffa500; }
.c { background: #ffff00; }
.d { background: #008000; }
.e { background: #0000ff; }
.f { background: #4b0082; }
.g { background: #800080; }
